aside.aside
  .aside-card
    img(src="./assets/yields.svg" alt="yields").aside-card__img
    div
      h2.aside-card__title.colorGray Yields
      p.aside-card__text.colorIcon 12 servings
  .aside-card
    img(src="./assets/clock.svg" alt="clock").aside-card__img
    div
      h2.aside-card__title.colorGray Prep Time
      p.aside-card__text 45 minutes
  .aside-card
    img(src="./assets/clock.svg" alt="clock").aside-card__img
    div
      h2.aside-card__title.colorGray Cook Time 
      p.aside-card__text 1 hour
  .aside-card
    img(src="./assets/clock.svg" alt="clock").aside-card__img
    div
      h2.aside-card__title.colorGray Total Time
      p.aside-card__text 7,75 hours