footer.footer
  p.footer__text Source:
    cite: a(href="https://sallysbakingaddiction.com/classic-cheesecake/" target="_blank", rel="noopener noreferrer").footer__cite https://sallysbakingaddiction.com/classic-cheesecake/
  p.footer__author Carlos Díaz @ DevChallenges.io