header.header
  h1.header__title Classic Cheesecake Recipe
  p.header__text Look no further for a creamy and ultra smooth classic cheesecake recipe! Paired with a buttery graham cracker crust, no one can deny its simple decadence. For the best results, bake in a water bath.
  img(src="./assets/photo1.png", alt="photo").header__img